/* GLOBAL RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fyld hele skærmen med spillet og ingen scroll */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* SPIL-SCENEN */
#game {
  position: relative;              /* så #dodger kan stå absolut inde i */
  width: 100vw;
  height: 100vh;
  background-image: url("img/background.svg");
  background-size: cover;          /* dækker hele baggrunden */
  background-position: center;     /* centrer baggrunden */
  overflow: hidden;
  text-align: center;
}

/* DODGER-CONTAINER (spilleren) */
#dodger {
  position: absolute;
  width: 100px;
  height: 100px;

  /* startposition – midt horisontalt, lidt oppe fra bunden */
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

/* selve billedet inde i dodger */
#dodger-img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scaleX(-1);   /* <-- vender fisken om */
}

/* START-TEKST (hvis du bruger den) */
#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

/* ROKKE (forhindringer) */
.rock {
  width: 20px;
  height: 20px;
  background: tan;
  position: absolute;
}

.rock:before {
  content: "";
  border-bottom: 6px solid tan;
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.rock:after {
  content: "";
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  border-top: 6px solid tan;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 9px;
}

/* TILBAGE-KNAP */
#tilbage {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #920b1b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;              /* så den ligger ovenpå spillet */
}

#tilbage:hover {
  background-color: #b5162a;
}
