/* GLOBAL RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML + BODY */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* SPIL-SCENE (#game) */
#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bagrund/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1000;
}

/* SCORE VISNING */
#score {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 45px;
  font-weight: bold;
  color: #f4c61e;
  z-index: 15;
}

/* DODGER (fisken) */
#dodger {
  position: absolute;
  width: 150px;
  height: 150px;
}

/* Selve billedet af fisken */
#dodger-img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scaleX(-1); 
}

/* ORM-POINT  */
#orm-point {
  position: absolute;
  width: 80px;
  height: 50px;
  z-index: 5;
  animation: orm-bob 2s ease-in-out infinite;
}

#orm-img {
  width: 100%;
  height: 100%;
  display: block;
}

/* Lidt flyde-animation */
@keyframes orm-bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

/* TILBAGE-KNAP */
#tilbage {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  z-index: 60;
  background-color: rgb(255, 119, 0);
}

#tilbage img {
  width: 60px;
  height: 60px;
}

#tilbage:hover {
  background-color: #b5162a;
}